# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# Private Files
# Ignore various file types that may contain sensitive information
*.json
*.csv
*.csv.gz
*.tsv
*.tsv.gz
*.xlsx

# Mac/OSX
# Ignore macOS system files
.DS_Store